table.onlineServices {
    
    border-width: 1px;
    border-radius: 15px;
    border-color: black;
    
	border-spacing: ;
	border-style: outset;
	border-collapse: separate;
	background-color: white;
}

